/* Disable text selection everywhere */
* {
  user-select: none;
  -webkit-user-select: none;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #22313f;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Button 71 */
.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

/* Quiz Box */
.quiz {
  width: 500px;
  max-width: 90%;
  min-height: 350px;
  height: auto;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  position: relative; /* required for absolute timer */
}

.timer {
  color: rgba(230, 4, 4, 0.64);
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 18px;
  font-weight: bold;
}


h3 {
  margin: 10px 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

.options {
  list-style: none;
}

.options li {
  padding: 10px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 18px;
  transition: 0.3s ease;
  line-height: 1.2;
}

.options li:hover {
  background-color: #d0f0f7;
  border: 2px solid #51e2f5;
}

.options li.selected {
  background: #4caf50;
  color: white;
  font-weight: bold;
  border-color: #3d8b40;
}

.options li.wrong {
  background: #ff4d4d;
  color: white;
  font-weight: bold;
  border-color: #d90000;
}

#buttonnext {
  padding: 10px;
  margin: 12px 0;
  height: 40px;
  width: 120px;
  background-color: #9cd3d9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

#buttonnext:hover {
  background-color: #7bbac0;
  border: 2px solid black;
}

/* Disable select for headings */
#question1,
#question2 {
  user-select: none;
}
